/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Estilos del encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
}

/* Estilos del banner */
.banner {
  background-image: url('banner.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
}

.banner h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: black;
}

.banner p {
  font-size: 18px;
  margin-bottom: 30px;
  color: black;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #666;
}

/* Estilos de la sección de productos */
.productos {
  text-align: center;
  padding: 50px 20px;
}

.producto {
  display: inline-block;
  width: 300px;
  margin: 20px;
}

.producto img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.producto h3 {
  margin-top: 10px;
  font-size: 24px;
}

.producto p {
  margin-top: 10px;
  font-size: 14px;
}

/* Estilos del pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
  
 /* Estilos del formulario de contacto */
 .form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

.form-container input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-container input[type="submit"]:hover {
  background-color: #45a049;
}
  
  /* Estilos responsivos */
  @media only screen and (max-width: 600px) {
    .contacto {
      margin: 20px;
      padding: 10px;
    }
  }
  