/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
  }
  
  /* Estilos del banner */
  .banner {
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 20px 20px;
  }
  
  .banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
  }
  
  .banner p {
    font-size: 18px;
    margin-bottom: 30px;
    color: black;
  }
  
  .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #666;
  }


  .producto-details {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
    height: 100vh; /* Ajusta la altura para centrar verticalmente */
  }
  
  .producto-details .contenido {
    width: 90%;
    max-width: 500px; /* Ajusta el ancho máximo según tus preferencias */
    transition: box-shadow 0.3s ease-in-out; /* Agrega una transición suave */
  
  }
  
  .producto-details img {
    width: 100%;
    max-height: 300px; /* Ajusta la altura máxima según tus preferencias */
    object-fit: cover;
    border-radius: 4px;
  }
  
  .producto-details img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra al pasar el cursor por encima */
  }
  
  
  .producto-details h1 {
    margin-top: 20px; /* Ajusta el margen superior según tus preferencias */
    font-size: 28px; /* Ajusta el tamaño de fuente según tus preferencias */
  }
  
  .producto-details p {
    margin-top: 10px;
    font-size: 16px; /* Ajusta el tamaño de fuente según tus preferencias */
  }
  
  
  /* Estilos del pie de página */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
    




  
  


